.award-strip-root {
  width: 100%;
  background-color: rgb(26, 28, 43);
}
.client-strip {
  font-size: 14px;
  border-right: 1px solid silver;
  padding-left: 45px;
  padding-right: 45px;
  color: white;
}
.client-strip:last-child {
  border-right: none;
}
.award-strip-base {
  width: 88%;
  max-width: 1300px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 575px) {
  .client-strip {
    font-size: 11px;
    border-right: 1px solid silver;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
  }
}
